{{- $ga_id := "" -}}
{{- with site.Config.Services.GoogleAnalytics.ID -}}
  {{- $ga_id = . -}}
{{- end -}}
{{- with site.Params.marketing.google_analytics -}}
  {{- $ga_id = . -}}
{{- end -}}

{{- if $ga_id -}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $ga_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ $ga_id }}');
</script>
{{- end -}}